
/* styling */
/* body {
background-color: rgb(236, 236, 219);
} */
textarea {
    width: 90%;
    height: 20.5vh;
    display: ruby-base;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 5px solid black;
}

#output {
   border: 5px solid black;
   height: 10vh;
   width: 90%;
   margin: 1rem;
   padding: 1rem;
   display: ruby-base;
   background-color: white;
}

#talk{
   text-align: center;
   background-color: yellow;
   padding: 5rem;
   font-size: 2cm;
}

#about {
    text-align: center;
    color: tomato;
    
    }

 #txt-about {
     font-size:x-large;
     text-align: center;
 }   

#header {
    
    background-color: yellow;

   background-size:10px;
   margin: auto;
   color: black;
   margin: auto;
   padding: 2rem 2rem;
   border-radius: 0.5rem;
        
}

#footer {
    background-color: yellow;
    padding: 5rem;
}

#btn-translate {
    background-color:red;
    padding: 1rem 5rem;
    margin: 2%;
    display:-moz-box;
   color: yellow;
   font-size:2rem;
    
}

    

